html {
  font-family: 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
}

:root {
  --color-primary: #1f1f1f;
  --color-secondary: #fff;
  --color-tertiary: #0e0e0e;
  --drop-shadow: drop-shadow(0 20px 15px black);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

main {
  flex-grow: 1;
}

h1#title,
h1.title {
  font-size: 2.25rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgb(202, 202, 202), 0 0 15px rgb(202, 202, 202);
  filter: var(--drop-shadow);
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

header {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

header > nav {
  padding: 1rem 0;
}

header img.logo {
  margin-top: 1rem;
  height: 2rem;
}

ul.nav-links > li {
  height: 100%;
  font-weight: 700;
  position: relative;
  padding: 0.25rem 0;
}

ul.nav-links > li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  background-color: var(--color-secondary);
  box-shadow: 0 -10px 60px 5px var(--color-secondary);
  transition: opacity 0.2s ease-in-out;
}

ul.nav-links > li.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  opacity: 1;
  background-color: var(--color-secondary);
  box-shadow: 0 -10px 60px 5px var(--color-secondary);
}

ul.nav-links > li:hover::after {
  opacity: 1;
}

ul.nav-links a {
  padding: 0.25rem 0;
  text-decoration: none;
  color: var(--color-secondary);
  text-transform: uppercase;
}

footer {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 576px) {
  header img.logo {
    height: 3rem;
  }

  header > nav > ul.nav-links {
    display: flex;
    flex-direction: row;
  }

  ul.nav-links li {
    margin: 0 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  header img.logo {
    margin: 0;
    height: 2rem;
    padding-left: 2rem;
  }

  header > nav {
    margin: 0;
    padding: 0;
  }

  header > nav > ul.nav-links {
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
  }

  ul.nav-links > li {
    height: 100%;
    padding: 2rem 0.5rem;
    font-weight: 700;
    position: relative;
  }

  ul.nav-links > li > a {
    padding: 2rem 0;
  }

  ul.nav-links > li::after {
    height: 2px;
  }
}
